<section id="about" ng-controller="aboutController">
	<div class="container mb-3">
		<h1>Mục tiêu thành lập</h1>
		<p>Ngành công nghệ thông tin (CNTT) Việt Nam, đặc biệt là lĩnh
			vực ITO và BPO là những lĩnh vực có tốc độ phát triển cao trong
			những năm qua. Theo báo cáo mới nhất tháng 2/2016 của tập đoàn
			Gartner khi đánh giá các quốc gia về dịch vụ gia công CNTT năm 2016,
			Việt Nam được xếp vào 1 trong 6 địa điểm hàng đầu về chuyển giao
			công nghệ toàn cầu tại khu vực Châu Á – Thái Bình Dương. Tuy nhiên,
			ngành này đã và đang đối diện thực tế khó khăn là thiếu hụt nhân lực
			có thể tham gia các dự án. Mặt khác, các quốc gia trong khu vực như
			Singapore, Nhật Bản .v.v. cũng thiếu hụt nhân lực CNTT và đang ráo
			riết tuyển dụng từ Việt Nam.</p>
		<p>Theo phân tích của các công ty thuộc liên minh VNITO, bên cạnh
			kiến thức chuyên môn được đào tạo tại trường, các ứng viên có kiến
			thức kỹ thuật cập nhật, có năng lực ngoại ngữ và kỹ năng mềm, tích
			lũy kinh nghiệm làm việc tại các dự án CNTT thực tế và được trang bị
			thêm một số kỹ năng chăm sóc khách hàng luôn có cơ hội thành công
			cao hơn những ứng viên khác trong các đợt phỏng vấn. Tuy nhiên, hiện
			chương trình giảng dạy tại các trường Đại học – Cao đẳng (ĐH-CĐ) tại
			Việt Nam còn hạn chế trong việc trang bị cho các kỹ sư những kỹ năng
			thực hành, cập nhật kiến thức theo xu thế phát triển công nghệ từ
			nhu cầu thực tiễn, năng lực tiếng Anh, cũng như các kỹ năng làm việc
			cần thiết khác cho công việc.</p>
		<p>“IT Workforce Solution Center” hay còn gọi “ISC – QUANG TRUNG”
			ra đời với mong muốn mang đến những giải pháp hiệu quả và thực tiễn
			nhất trong vấn đề bồi dưỡng, đào tạo nguồn nhân lực CNTT chất lượng,
			có khả năng thực hành và vận dụng kiến thức cao. Với tiêu chí nắm
			bắt nhu cầu và luôn cập nhật, ISC – QUANG TRUNG giúp học viên bổ
			sung và nâng cao những kỹ năng thực hành, các kinh nghiệm cần thiết
			đáp ứng cho yêu cầu công việc tại các dự án CNTT, góp phần giải
			quyết bài toán thiếu hụt nhân lực CNTT trước mắt và lâu dài cho Việt
			Nam, trở thành cầu nối hữu hiệu giữa các trường ĐH-CĐ và các đơn vị
			sử dụng nhân lực của ngành CNTT.</p>
		<h1>Thế mạnh của trung tâm ISC Quang Trung</h1>
		<div>
			<img src="assets/img/the-manh-forweb.jpg" style="width: 100%" />
		</div>
	</div>
</section>
