<section id="news" ng-controller="newsController">
  <div class="container">
    <div class="card  mb-sm-3">
      <div class="card-body">
        <a href="#" class="card-link">
          <h5 class="card-title">Thông báo tuyển sinh khóa X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">26/07/2019</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mb-sm-3">
      <div class="card-body">
        <a href="#" class="card-link">
          <h5 class="card-title">Thông báo tuyển sinh khóa X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">26/07/2019</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mb-sm-3">
      <div class="card-body">
        <a href="#" class="card-link">
          <h5 class="card-title">Thông báo tuyển sinh khóa X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">26/07/2019</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mb-sm-3">
      <div class="card-body">
        <a href="#" class="card-link">
          <h5 class="card-title">Thông báo tuyển sinh khóa X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">26/07/2019</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mb-sm-3">
      <div class="card-body">
        <a href="#" class="card-link">
          <h5 class="card-title">Thông báo tuyển sinh khóa X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">26/07/2019</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <ul class="pagination ml-auto">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>

  </div>
</section>
