<section id="notification-page">
    <div class="container">
        <table class="table table-sm table-hover table-bordered ">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Tiêu đề</th>
                    <th>Người gửi</th>
                    <th>Giờ gửi</th>
                </tr>
            </thead>
            <tbody>
                <tr data-toggle="modal" data-target="#myModal">
                    <td>1</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr data-toggle="modal" data-target="#myModal">
                    <td>2</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr data-toggle="modal" data-target="#myModal">
                    <td>3</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr data-toggle="modal" data-target="#myModal">
                    <td>4</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
                <tr data-toggle="modal" data-target="#myModal">
                    <td>5</td>
                    <td> Lớp 15DTH hôm nay nghỉ </td>
                    <td> Thầy Võ Xuân Thể </td>
                    <td> 22-02-2019 14:23:00 </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Lớp 15DTH hôm nay nghỉ</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p> Hôm nay thầy bị bệnh, các em nhớ làm bài tập đầy đủ tuần sau kiểm tra. </p>
                    <hr>
                    <p> <quote> Thầy Võ Xuân Thể </quote> - 22-02-2019 14:23:00</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>

</section>
