<section id="login-form" ng-controller="loginController">
    <div class="container">
        <div class="login-page">
            <div class="form">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <input type="radio" id="user-student" name="user-type" value="hv" checked>
                            <label for="user-student">
                                Học viên
                            </label>
                        </div>
                        <div class="col-4">
                            <input type="radio" id="user-teacher" name="user-type" value="gv" disabled>
                            <label for="user-teacher">
                                Giảng viên
                            </label>
                        </div>
                        <div class="col-4">
                            <input type="radio" id="user-employ" name="user-type" value="nv">
                            <label for="user-employ">
                                Nhân viên
                            </label>
                        </div>
                    </div>
                    <input type="text" ng-model="username" placeholder="Tên đăng nhập" />
                    <input type="password" ng-model="password" placeholder="Mật khẩu" />
                    <button ng-click="login()">Đăng nhập</button>
                    <input type="checkbox" id="remember-password">
                    <label for="remember-password">
                        Ghi nhớ mật khẩu
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>
