<section id="contact-form" ng-controller="contactController">
	<div class="container">
		<div style="text-align: center">
			<h3>Vui lòng liên hệ trực tiếp với chúng tôi tại địa chỉ:</h3>
			<p>Tòa nhà SaigonTech, Lô 14, Công viên Phần mềm Quang Trung,
				Quận 12, Tp.HCM, Việt Nam</p>

			<p>
				Điện thoại: <strong>028 37 155 033</strong> - <strong>Fax:
					028 37 155 035</strong>
			</p>
			<p>
				Hotline: <strong>0903 76 71 88</strong> -<strong> 0943 77
					83 80</strong> -<strong> 0908 23 27 00</strong>
			</p>
			<p>
				Email: <strong>iscquangtrung@saigontech.edu.vn</strong>
			</p>

			<p>Hoặc điền thông tin và gửi cho chúng tôi theo mẫu sau, Chúng
				tôi sẽ liên lạc lại với bạn trong thời gian sớm nhất.</p>
		</div>
		<form class="mb-3">
			<div class="form-group">
				<label for="a">Họ tên</label> <input type="email" class="form-control" id="a">
			</div>
			<div class="form-group">
				<label for="b">Email</label> <input type="email" class="form-control" id="b">
			</div>
			<div class="form-group">
				<label for="c">Điện thoại</label> <input type="email" class="form-control" id="c">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Nội dung</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-warning">Gửi</button>
		</form>
	</div>
</section>
