<header id="main-header" ng-controller="headerController">
    <div class="container">
        <div class="row">
            <ul class="col-sm-6">
                <li><i class="fa fa-envelope"></i> iscquangtrung@saigontech.edu.vn </li>
                <li><i class="fa fa-envelope"></i> 0943.778380 - 0908.232700 - 0903.767188</li>
            </ul>
            <div class="col-sm-6">
                <div ng-if="!loggedIn">
                    <a href="#!login" class="login-link">{{ logLink }}</a>
                    <a href="app/components/scope_admin/index.html" class="login-link" target="_blank">Admin</a>
                </div>
                <div ng-if="loggedIn">
                    <a href="#!" class="login-link">{{ logLink }}</a>
                    <a href="#!{{ userType }}" class="login-link" style="border-right: 1px solid grey">{{ userName }}</a>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-md navbar-light" ng-controller="headerController">
    <div class="container">
        <a class="navbar-brand" href="#!/">
            <img src="/assets/img/isc-logo.png" alt="logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" ng-repeat="x in list">
                    <a class="nav-link" href="#!{{ x.link }}">{{ x.linkText }}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
